@model WebApplication1.Models.LesseDetailVMForList

@{
    ViewBag.Title = "Lease List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var role = Session["Role"];
    string rolename = "";
    if (role != null)
    {
        rolename = role.ToString();
    }
}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

</head>
@using (Html.BeginForm())
{
    <form class="form-horizontal">
        <div class="content container-fluid" style="padding-top:15px">
            <div class="row col-md-12">
                <div class="col-md-11"><h4>@ViewBag.Title</h4></div>
                <div class="col-md-1 pull-right">
                    <a type="button" href="@Url.Action("Create", "LeaseDetails")" class="btn btn-primary">Add New</a>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-3">
                    @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control date-picker", @type = "date", autocomplete = "off" } })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control date-picker", @type = "date", autocomplete = "off" } })
                    </div>
                </div>
                <div class="col-md-3" style="padding-top:33px">
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-0 ml-2 mr-2">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-stripped mb-0 datatables">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayName("LESSEE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LEASE DATE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("FUND DATE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("1ST PAYMENT TO BANK DATE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LEASE MATURITY DATE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("DESCRIPTION")
                                    </th>
                                    @*<th>
                                        @Html.DisplayName("LEASE ID")
                                    </th>*@
                                    <th>
                                        @Html.DisplayName("License Plate")
                                    </th>
                                    <th>
                                        @Html.DisplayName("DEAL ORIGIN")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LEASE TYPE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("TOTAL LEASE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("MTHLY PMT")
                                    </th>
                                    <th>
                                        @Html.DisplayName("TERM")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Lease Rate")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LENDER")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LEASE FEE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("VIN")
                                    </th>
                                    <th>
                                        @Html.DisplayName("RESIDUAL")
                                    </th>
                                    <th>
                                        @Html.DisplayName("ESTIMATED PROPERTY TAX")
                                    </th>
                                    <th>
                                        @Html.DisplayName("MMA")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LEASE ID")
                                    </th>
                                    <th>
                                        @Html.DisplayName("ACCOUNT REP1")
                                    </th>
                                    <th>
                                        @Html.DisplayName("ACCOUNT REP2")
                                    </th>
                                    <th>
                                        @Html.DisplayName("ACCOUNT REP3")
                                    </th>
                                    <th>
                                        @Html.DisplayName("INSURANCE PROVIDER")
                                    </th>
                                    <th>
                                        @Html.DisplayName("INSURANCE EXPIRY")
                                    </th>
                                    <th>
                                        @Html.DisplayName("VENDOR COST")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LEASE DOCUMENT FORM")
                                    </th>
                                    <th>
                                        @Html.DisplayName("TITLE HOLDER")
                                    </th>
                                    <th>
                                        @Html.DisplayName("SALES-TAX EXEMPT?")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LEASE TERMINATION DATE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("TITLE STATUS")
                                    </th>
                                    <th>
                                        @Html.DisplayName("UCC STATUS")
                                    </th>
                                    <th>
                                        @Html.DisplayName("UCC DATE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("PROPERTY TAX STATUS")
                                    </th>
                                    <th>
                                        @Html.DisplayName("COLL STREET")
                                    </th>
                                    <th>
                                        @Html.DisplayName("COLL CITY")
                                    </th>
                                    <th>
                                        @Html.DisplayName("COLL STATE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("COLL ZIP CODE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("COLL COUNTY")
                                    </th>
                                    <th>
                                        @Html.DisplayName("MAIL STREET")
                                    </th>
                                    <th>
                                        @Html.DisplayName("MAIL CITY")
                                    </th>
                                    <th>
                                        @Html.DisplayName("MAIL STATE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("MAIL ZIP CODE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("COMMENTS1")
                                    </th>
                                    <th>
                                        @Html.DisplayName("COMMENTS2")
                                    </th>
                                    @*<th>
                                        @Html.DisplayName("LEASE YEAR")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LEASE MO/YR")
                                    </th>*@
                                    @*<th>
                                        @Html.DisplayName("FUNDED MO/YR")
                                    </th>*@
                                    @*<th>
                                        @Html.DisplayName("LEASE COUNT")
                                    </th>*@
                                    @*<th>
                                        @Html.DisplayName("BANK CHK - LESSEE-BANK TAB")
                                    </th>
                                    <th>
                                        @Html.DisplayName("BANK CHK - BANK-YEAR TAB")
                                    </th>
                                    <th>
                                        @Html.DisplayName("BANK CHK - BANK-MONTH TAB")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LESSEE CHK - LESSEE-BANK TAB")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LESSEE CHK - LESSEE-YEAR TAB")
                                    </th>
                                    <th>
                                        @Html.DisplayName("LESSEE CHK - LESSEE-MONTH TAB")
                                    </th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LesseDetailList)
                                {
                                    
                                    <tr>
                                        <td>
                                            @if (rolename == "Admin")
                                            {
                                                <a href="/LeaseDetails/Edit/@item.ID" class="btn btn-dark"> Edit </a>
                                                <a href="/LeaseDetails/Delete/@item.ID" class="btn btn-danger"> Delete </a>
                                            }
                                        </td>
                                        <td>
                                            
                                            @Html.DisplayFor(modelItem => item.Lesse)
                                           
                                        </td>
                                        <td>
                                            @if (item.LesseDate.HasValue)
                                            {
                                                @item.LesseDate.Value.ToString("MM/dd/yy")
                                            }
                                            else
                                            {
                                                <span></span>
                                            }
                                            </td>
                                        <td>
                                            @if (item.FundDate.HasValue)
                                            {
                                                @item.FundDate.Value.ToString("MM/dd/yy")
                                            }
                                            else
                                            {
                                                <span></span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.FirstPaymentToBankDate.HasValue)
                                            {
                                                @item.FirstPaymentToBankDate.Value.ToString("MM/dd/yy")
                                            }
                                            else
                                            {
                                                <span></span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.FirstPaymentToBankDate.HasValue)
                                            {
                                                @item.FirstPaymentToBankDate.Value.ToString("MM/dd/yy")
                                            }
                                            else
                                            {
                                                <span></span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.LeaseID)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LicensePlate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DealOrigin)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaseType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalLeaseString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MonthlyPaymentString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Term)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaseRateString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Lender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaseFeeString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VIN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ResidualString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EstimatedPropertyTaxString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MMA)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaseID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountRep1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountRep2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountRep3)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InsuranceProvider)
                                        </td>
                                        <td>
                                            @if (item.InsuranceExpiry.HasValue)
                                            {
                                                @item.InsuranceExpiry.Value.ToString("MM/dd/yy")
                                            }
                                            else
                                            {
                                                <span></span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VendorCostString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaseDocumentForm)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TitleHolder)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsSaleTaxExept)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaseTerminationDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TitleStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UCCStatus)
                                        </td>
                                        <td>
                                            @if (item.FirstPaymentToBankDate.HasValue)
                                            {
                                                @Html.DisplayFor(modelItem => item.UCCDate)
                                            }
                                            else { <span></span>}
                                            </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PropertyTaxStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CollateralStreet)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CollateralCity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CollateralState)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CollateralZipCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CollateralCountry)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailingStreet)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailingCity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailingState)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailingZipCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comments1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comments2)
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.LeaseYear)
                                        </td>*@
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.LeaseTerminationDate)
                                        </td>*@
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.LeaseMonthAndYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FundedMonthAndYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaseCount)
                                        </td>*@
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.BANKCHK_LESSEEBANK_TAB)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BANKCHK_BANKYEAR_TAB)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BANKCHK_BANKMONTH_TAB)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LESSEECHK_LESSEEBANK_TAB)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LESSEECHK_LESSEEYEAR_TAB)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LESSEECHK_LESSEEMONTH_TAB)
                                        </td>*@

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        ////$("#example").dataTable().fnDestroy();
        //$('#example').DataTable({
        //    dom: 'Bfrtip',
        //    buttons: [
        //        'copy', 'csv', 'excel', 'pdf', 'print'
        //    ]
        //});
        $('#example').DataTable({
            destroy: true,
            searching: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
}