@model WebApplication1.Models.tblUser

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content container-fluid">
        <div class="card mb-4 mt-3" style="padding-top:10px">
            <div class="card-header">
                <h5 class="card-title mb-0">Create new</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <form class="needs-validation" novalidate>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label("User full name", htmlAttributes: new { @class = "control-label col-md-4 col-form-label-sm" })
                                <div class="col-md-12 mb-3">
                                    @Html.EditorFor(p => p.FullName, new { htmlAttributes = new { @class = "form-control form-control-sm", autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-4 col-form-label-sm" })
                                <div class="col-md-12 mb-3">
                                    @Html.EditorFor(p => p.Password, new { htmlAttributes = new { @class = "form-control form-control-sm", autocomplete = "off",@required="required",@type="password" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-4 col-form-label-sm" })
                                <div class="col-md-12 mb-3">
                                    @Html.EditorFor(p => p.Email, new { htmlAttributes = new { @class = "form-control form-control-sm", autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Phone", htmlAttributes: new { @class = "control-label col-md-4 col-form-label-sm" })
                                <div class="col-md-12 mb-3">
                                    @Html.EditorFor(p => p.Phone, new { htmlAttributes = new { @class = "form-control form-control-sm", autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Role", htmlAttributes: new { @class = "control-label col-md-4 col-form-label-sm" })
                                <div class="col-md-12 mb-3">
                                    <select id="RoleType" name="RoleType" class="form-control form-control-sm">
                                        <option value="Admin">Admin</option>
                                        <option value="Normal">Normal User</option>
                                    </select>
                                </div>
                            </div>
                            <br />

                            <div class=" row pull-right">
                                <button type="submit" id="btnSave" class="btn btn-primary" style="padding-right:15px">Save</button>
                                <div class="mt-0 btn btn-warning">@Html.ActionLink("Back to List", "Index")</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}