@model IEnumerable<WebApplication1.Models.tblUser>

@{
    ViewBag.Title = "Users List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="form-horizontal">
    <div class="content container-fluid" style="padding-top:15px">
        <div class="row col-md-12">
            <div class="col-md-11"><h4>@ViewBag.Title</h4></div>
            <div class="col-md-1 pull-right">
                <a type="button" href="@Url.Action("Create", "Users")" class="btn btn-primary">Add New</a>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-12">
        <div class="card mb-0 ml-2 mr-2">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example14" class="datatable table table-stripped mb-0 datatables">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("User Full Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Password")
                                </th>
                                <th>
                                    @Html.DisplayName("Email")
                                </th>
                                <th>
                                    @Html.DisplayName("Role")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var DecryptedPassword = HelperClass.Decrypt(item.Password);
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => DecryptedPassword)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>
                                    <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>